@import "../../global.scss";

.videos {
  background-color: $cardsBGColor;
  display: flex;

  .slider {
    display: flex;
    left: 0;
    transition: all 1s ease-out;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    @include mobile {
      // height: 100vh;
      flex-direction: column;
      justify-content: center;
      // margin-top: -40px;
      margin-top: 0;
    }

    h1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15%;
      height: 100px;
      font-weight: 400;
    }

    .container {
      width: 100vw;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        height: 170px;
        margin-top: 20px;
      }

      .item {
        width: 70vw;
        height: 220px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;

        @include mobile {
          width: 80%;
          margin: 0;
          flex-direction: column;
        }

        .left {
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 10px;
          margin: 20px;
          cursor: pointer;

          @include mobile {
            width: 50%;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          &:hover {
            background-color: $cardsBGColor;

            img {
              padding: 10px;
              opacity: 0.1;
              z-index: 0;
            }
          }

          a {
            display: flex;
            width: 70%;
            height: 70%;
            @include mobile {
              width: 50%;
            }

            img {
              border-radius: inherit;
              width: 100%;

              @include mobile {
                width: auto;
                margin: 10px 0;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 20px;

          @include mobile {
            width: 100%;
          }

          .rightContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;

            @include mobile {
              height: 100px;
              width: 80%;
              align-items: center;
              flex-wrap: wrap;
              justify-content: space-around;
            }

            h2 {
              font-size: 1.5em;
              font-weight: 500;

              @include mobile {
                font-size: 13px;
              }
            }

            span {
              font-size: 1em;
              font-weight: 300;
              color: grey;
              margin: 10px 0;
              @include mobile {
                font-size: 10px;
              }
            }

            p {
              font-size: 1em;
              font-weight: 300;
              margin: 10px 0;
              text-align: justify;
              @include mobile {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
