@import "global.scss";

.app {
  height: 100vh;

  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none;
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: $cardsBGColor;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
  }
}
